-var linkItems = ['twitter', 'facebook', 'google-plus']
-var linkUrls = ['twitter.com', 'facebook.com', 'google.com']
section.ourteam
    .container
        .title
            h2.title.title__header Meet Our Team
            .title--with-bottom-line 
                i(class="fa fa-heart-o" aria-hidden="true")
            p.works__description
                |   Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                |   accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
        #some-slider-two.owl-carousel.owl-theme
            .team
                .team__list
                    .team__img 
                        img(src="/images/john.png", alt="")
                        .team__content
                            h3.team__title  Nemo enim ipsam  voluptatem quia voluptas
                            p.team__discription   sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem. 
                            .team__links
                                each item, key in linkItems
                                    a(href="http://" + linkUrls[key] target="_blank")
                                        i(class="fa fa-" + item aria-hidden="true")
                                            span.visually-hidden=linkItems
                    p.team__name John Filmr Doe
                    p.team__post Managing Directorv
            .team__list
                .team__person
                    .team__img 
                        img(src="/images/chystine.png", alt="")
                        .team__content
                            h3.team__title  Nemo enim ipsam  voluptatem quia voluptas
                            p.team__discription   sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem. 
                            .team__links
                                each item, key in linkItems
                                    a(href="http://" + linkUrls[key] target="_blank")
                                        i(class="fa fa-" + item aria-hidden="true")
                                            span.visually-hidden=linkItems
                    p.team__name Chystine Hineu
                    p.team__post Lead Designer
            .team__list
                .team__person
                    .team__img 
                        img(src="/images/martin.png", alt="")
                        .team__content
                            h3.team__title  Nemo enim ipsam  voluptatem quia voluptas
                            p.team__discription   sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem. 
                            .team__links
                                each item, key in linkItems
                                    a(href="http://" + linkUrls[key] target="_blank")
                                        i(class="fa fa-" + item aria-hidden="true")
                                            span.visually-hidden=linkItems
                    p.team__name Martin Matrone
                    p.team__post Lead Developer
            .team__list
                .team__person
                    .team__img 
                        img(src="/images/steve.png", alt="")
                        .team__content
                            h3.team__title  Nemo enim ipsam  voluptatem quia voluptas
                            p.team__discription   sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem. 
                            .team__links
                                each item, key in linkItems
                                    a(href="http://" + linkUrls[key] target="_blank")
                                        i(class="fa fa-" + item aria-hidden="true")
                                            span.visually-hidden=linkItems
                    p.team__name Steve Flaulkin
                    p.team__post Sr. UI Designer
            .team__list
                .team__person
                    .team__img 
                        img(src="/images/john.png", alt="")
                        .team__content
                            h3.team__title  Nemo enim ipsam  voluptatem quia voluptas
                            p.team__discription   sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem. 
                            .team__links
                                each item, key in linkItems
                                    a(href="http://" + linkUrls[key] target="_blank")
                                        i(class="fa fa-" + item aria-hidden="true")
                                            span.visually-hidden=linkItems
                    p.team__name John Filmr Doe
                    p.team__post Managing Directorv
            .team__list
                .team__person
                    .team__img 
                        img(src="/images/chystine.png", alt="")
                        .team__content
                            h3.team__title  Nemo enim ipsam  voluptatem quia voluptas
                            p.team__discription   sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem. 
                            .team__links
                                each item, key in linkItems
                                    a(href="http://" + linkUrls[key] target="_blank")
                                        i(class="fa fa-" + item aria-hidden="true")
                                            span.visually-hidden=linkItems
                    p.team__name Chystine Hineu
                    p.team__post Lead Designer
            .team__list
                .team__person
                    .team__img 
                        img(src="/images/martin.png", alt="")
                        .team__content
                            h3.team__title  Nemo enim ipsam  voluptatem quia voluptas
                            p.team__discription   sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem. 
                            .team__links
                                each item, key in linkItems
                                    a(href="http://" + linkUrls[key] target="_blank")
                                        i(class="fa fa-" + item aria-hidden="true")
                                            span.visually-hidden=linkItems
                    p.team__name Martin Matrone
                    p.team__post Lead Developer
            .team__list
                .team__person
                    .team__img 
                        img(src="/images/steve.png", alt="")
                        .team__content
                            h3.team__title  Nemo enim ipsam  voluptatem quia voluptas
                            p.team__discription   sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem. 
                            .team__links
                                each item, key in linkItems
                                    a(href="http://" + linkUrls[key] target="_blank")
                                        i(class="fa fa-" + item aria-hidden="true")
                                            span.visually-hidden=linkItems
                    p.team__name Steve Flaulkin
                    p.team__post Sr. UI Designer
            .team__list
                .team__person
                    .team__img 
                        img(src="/images/john.png", alt="")
                        .team__content
                            h3.team__title  Nemo enim ipsam  voluptatem quia voluptas
                            p.team__discription   sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem. 
                            .team__links
                                each item, key in linkItems
                                    a(href="http://" + linkUrls[key] target="_blank")
                                        i(class="fa fa-" + item aria-hidden="true")
                                            span.visually-hidden=linkItems
                    p.team__name John Filmr Doe
                    p.team__post Managing Directorv
            .team__list
                .team__person
                    .team__img 
                        img(src="/images/chystine.png", alt="")
                        .team__content
                            h3.team__title  Nemo enim ipsam  voluptatem quia voluptas
                            p.team__discription   sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem. 
                            .team__links
                                each item, key in linkItems
                                    a(href="http://" + linkUrls[key] target="_blank")
                                        i(class="fa fa-" + item aria-hidden="true")
                                            span.visually-hidden=linkItems
                    p.team__name Chystine Hineu
                    p.team__post Lead Designer
            .team__list
                .team__person
                    .team__img 
                        img(src="/images/martin.png", alt="")
                        .team__content
                            h3.team__title  Nemo enim ipsam  voluptatem quia voluptas
                            p.team__discription   sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem. 
                            .team__links
                                each item, key in linkItems
                                    a(href="http://" + linkUrls[key] target="_blank")
                                        i(class="fa fa-" + item aria-hidden="true")
                                            span.visually-hidden=linkItems
                    p.team__name Martin Matrone
                    p.team__post Lead Developer
            .team__list
                .team__person
                    .team__img 
                        img(src="/images/steve.png", alt="")
                        .team__content
                            h3.team__title  Nemo enim ipsam  voluptatem quia voluptas
                            p.team__discription   sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem. 
                            .team__links
                                each item, key in linkItems
                                    a(href="http://" + linkUrls[key] target="_blank")
                                        i(class="fa fa-" + item aria-hidden="true")
                                            span.visually-hidden=linkItems
                    p.team__name Steve Flaulkin
                    p.team__post Sr. UI Designer